<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>seladore !!!!!!!!!!!!!!!!!!!!!</title>
   <style>
  html, body {
    margin: 0;
    padding: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
</style>
</head>
<body>
  <audio autoplay loop>
    <source src="/seladore-site.0/assets/fairymusic.mp3" type="audio/mpeg">
  </audio>
  <img src="/seladore-site.0/assets/fairyqueen.gif" alt="Fairy Queen" />
</body>
</html>
